<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <!--
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LAP.TUUA.CLIENTEWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  -->

    <sectionGroup name="businessObjects">
	    <sectionGroup name="crystalReports">
		    <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
		    <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
	    </sectionGroup>
    </sectionGroup>



  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Trace" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\tuua_trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true" />
			</rptBuildProvider>
			<crystalReportViewer>
				<add key="ResourceUri" value="/aspnet_client/system_web/4_0_30319/crystalreportviewers13/" />
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>

  <dataConfiguration defaultDatabase="tuuacnx1"/>
  <connectionStrings>
    <!--<add name="tuuacnx0" connectionString="Data Source=192.168.61.31;Initial Catalog=BD_TUUA_PRD_LAP_7296_FINAL_CMONTES;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="tuuacnx1" connectionString="Data Source=192.168.62.54;Initial Catalog=BDTUUA;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="tuuacnx1" connectionString="Data Source=192.168.61.161;Initial Catalog=BDTUUA;User ID=sa;Password=123456789" providerName="System.Data.SqlClient"/>-->
    <!--<add name="tuuacnx1" connectionString="Data Source=172.20.0.102;Initial Catalog=BD_TUUA_PRD;User ID=usr_tuua;Password=@T3u2u1TP" providerName="System.Data.SqlClient"/>-->
    <add name="tuuacnx1" connectionString="Data Source=192.168.0.206;Initial Catalog=BD_TUUA_DEV;User ID=sa;Password=123*admin" providerName="System.Data.SqlClient"/>
    <!--<add name="tuuacnx1" connectionString="Data Source=172.20.0.206;Initial Catalog=BD_TUUA_QAS;User ID=usr_tuua;Password=@T3u2u1TP" providerName="System.Data.SqlClient"/>-->
    <!--<add name="tuuacnx1C" connectionString="Data Source=192.168.61.31;Initial Catalog=BD_TUUA_PRD_LAP_ESILVA_1;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="tuuacnx1D" connectionString="Data Source=192.168.61.31;Initial Catalog=BD_TUUA_PRD_LAP_ESILVA_2;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    
    <add name="tuuacnx2" connectionString="Data Source=172.24.167.137;Initial Catalog=BD_TUUA_QAS;User ID=usr_tuua;Password=@Tau2ucTQ" providerName="System.Data.SqlClient"/>
    <add name="tuuacnx3" connectionString="Data Source=192.168.61.116;Initial Catalog=DBTUUA_PRO;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="tuuacnx4" connectionString="Data Source=192.168.61.40;Initial Catalog=DBTUUA;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="tuuacnx5" connectionString="Data Source=192.168.61.31;Initial Catalog=BD_TUUA_PRD_LAP_TEST;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="tuuacnx6" connectionString="Data Source=127.0.0.1;Initial Catalog=BD_TUUA_CENTRAL;User ID=sa;Password=Server1" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
  <applicationSettings>
    
    <LAP.TUUA.CLIENTEWS.Properties.Settings>
      <setting name="CLIENTEWS_WSConfiguracion_WSConfiguracion" serializeAs="String">
        <value>http://localhost/WSDAO/WSConfiguracion.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSSeguridad_WSSeguridad" serializeAs="String">
        <value>http://localhost/WSDAO/WSSeguridad.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSAdministracion_WSAdministracion" serializeAs="String">
        <value>http://localhost/WSDAO/WSAdministracion.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSOperacion_WSOperacion" serializeAs="String">
        <value>http://localhost/WSDAO/WSOperacion.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSConsultas_WSConsultas" serializeAs="String">
        <value>http://localhost/WSDAO/WSConsultas.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSError_WSError" serializeAs="String">
        <value>http://localhost/WSDAO/WSError.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSTurno_WSTurno" serializeAs="String">
        <value>http://localhost/WSDAO/WSTurno.asmx</value>
      </setting>
      <setting name="CLIENTEWS_WSRehabilitacion_WSRehabilitacion" serializeAs="String">
        <value>http://localhost/WSDAO/WSRehabilitacion.asmx</value>
      </setting>      
    </LAP.TUUA.CLIENTEWS.Properties.Settings>
  </applicationSettings>
  -->
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="110" maxRequestLength="526400" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <globalization uiCulture="es" culture="es-PE" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>
    <!-- 
    <siteMap defaultProvider="main">
      <providers>
        <add siteMapFile="Web.sitemap" name="main" type="DynamicSiteMapProvider"/>
      </providers>
    </siteMap>
    
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="PaginaError.aspx">
      <error statusCode="403" redirect="Index.aspx"/>
      <error statusCode="404" redirect="Index.aspx"/>
    </customErrors>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>