<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Params>
    <add key="ReadSensors" value="5" />
    <add key="WriteSensors" value="1" />
  </Params>
  <Reader0 Code="OPENMOL" Config="2:0" DefaultBit="1" />
  <Reader1 Code="SEMROJO" Config="2:1" DefaultBit="1" />
  <Reader2 Code="SEMVERDE" Config="2:2" DefaultBit="1" />
  <Reader3 Code="SEMAMBAR" Config="2:3" DefaultBit="1" />
  <Reader4 Code="CLOSEMOL" Config="3:0" DefaultBit="1" />
  <Writer0 Code="GIROMOL" Config="0:0" DefaultBit="0" />
</configuration>