<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnnstr" connectionString="Data Source=172.20.0.206;Initial Catalog=BD_TUUA_QAS;Persist Security Info=True;User ID=usr_tuua;Password=@T3u2u1TP" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsTipoCambioLAPSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://216.244.151.15/lapextDMZ/wsTipoCambioLAP.asmx" binding="basicHttpBinding" bindingConfiguration="wsTipoCambioLAPSoap" contract="SvcTipoCambio.wsTipoCambioLAPSoap" name="wsTipoCambioLAPSoap"/>
        </client>
    </system.serviceModel>
</configuration>
