<?xml version="1.0"?>
<configuration>
  <SEMROJO Time="5000" SoundFile="resources\1.wav" TypeSound="normal" />
  <SEMVERDE TimeoutOpen="10000" TimeoutClose="10000" Time="10000" SoundFile="resources\2.wav" TypeSound="loop" />
  <SEMAMBAR TimeoutOpen="10000" TimeoutClose="10000" Time="10000" SoundFile="resources\3.wav" TypeSound="normal" />
  <Params>
    <add key="WriteSensors" value="4" />
    <add key="ReadSensors" value="1" />
  </Params>
  <Writer0 Code="OPENMOL" Config="2:0" DefaultBit="1" />
  <Writer1 Code="SEMROJO" Config="2:1" DefaultBit="1" />
  <Writer2 Code="SEMVERDE" Config="2:2" DefaultBit="1" />
  <Writer3 Code="SEMAMBAR" Config="2:3" DefaultBit="1" />
  <Reader0 Code="INPUTSIGNSTATUSMOL" Config="0:0" DefaultBit="0" />
</configuration>